.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
}

/* Green */
.evaluation {
  border-color: #4CAF50;
  color: green;
}

.evaluation:hover {
  background-color: #4CAF50;
  color: white;
}

/* Blue */
.retrain {
  border-color: #2196F3;
  color: dodgerblue
}

.retrain:hover {
  background: #2196F3;
  color: white;
}

/* Red */
.stress {
  border-color: #f44336;
  color: red
}

.stress:hover {
  background: #f44336;
  color: white;
}

/* Gray */
.default {
  border-color: #e7e7e7;
  color: black;
}

.default:hover {
  background: #e7e7e7;
}

